#container{
border: 5px solid rgb(32, 21, 115);
 padding: 5px;
 border-radius:5px;
 box-sizing: border-box;
 margin:1rem;
align-items: center;
background-color:rgb(214, 205, 205);

}
.first-image{
  position: relative;
  background:cover;
  display: flex;
}

.Logo {
  position: absolute;
 top: 100px;
 right:48%;
 display:inline-block
 }
 .mouse{
   position: absolute;
  top:500px;
 right:50%;  
 }
 .welcome{
   position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;   
 }
 .second-image{
position: relative;
}
.services{
   position: absolute;
  top: 30%;
  left: 70px;
  color: antiquewhite; 
}
h2{
  text-align: center;
}

.contact-us{
  text-align: center;
  display: block;
}
.name,.email{
  text-align: center;
  margin: 30px;
  padding: 5px;
 
}

.third-image{
display: flex;
justify-content: space-between;
cursor:pointer;
}
button:hover{
 background-color:transparent;
    padding: 10px;
    color: red;
}
.fouth-images{
  margin:80px;
  display: inline;

}
.fifth-images{
  position: relative;
  padding-top:10px;
}

.input{
   position: absolute;
   top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.social-icons{
  padding-top:10px;
  margin:10px;
  width:auto;
}

#design{
  display:none;
}
#service{
  display:none;
}
#product
{
   display:none;
}
ul {
  list-style-type: none;
  
}
li{
  float: left;
  display: block;
  color: rgb(40, 32, 32);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
button {
  background-color:transparent ;
  position:relative; z-index:1;
  top: -25%;
  left:-1%;
  border:white;
   display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
   font-size: 16px;
}


  
